
<body>
  <div class="movie-container">
    <div class="poster"></div>

    <div class="details">
      <h1>Movie Title</h1>
      <p>Movie Description</p>
      <div style="display: flex; align-items: center; margin-bottom: 15px;">
        <p style="margin-right: 20px;">Release Date: January 1, 2023</p>
        <p style="margin-right: 20px;">Director: John Doe</p>
        <p>Genre: Action</p>
      </div>

      <div>
        <p>Language: English</p>
        <p>Runtime: 120 minutes</p>
        <p>Overall Rate: 9</p>
      </div>

      <!-- <div class="button-container">
        <button class="rating-button" data-target="#ratingModal">
          <span class="star">&#9733;</span>Add Rating</button>
      </div> -->



      <div class="box1">
         <div class="box"> 
          <h1 class="text-center" alt="Simple"></h1>
         
          <button class="add-rating-button" data-toggle="modal" data-target="#ratingModal"><span class="star">&#9733;</span>Add Rating</button>
         

                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>  
                  </button> 

                   
            </div> 
            </div>  

          
          <div class="review-container">
            <p id="review-text"></p>
      
        </div>
      </div>


      
  
  </div>

  <h2>Reviews</h2>
</body>
